<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<menuitem id="menu_for_sample_module"
		name="Sample Menu"
		sequence="2"/>

	<!--Sub Menu-->

	<menuitem id="menu_for_model_one"
		name="models"
		action="action_for_model_one"
		parent="coding_intern.menu_for_sample_module"
 		sequence="1" />


	<menuitem id="menu_model_one_lines"
        name="Model Lines"
        action="action_for_model_one_lines"
        parent="coding_intern.menu_for_sample_module"
        sequence="2" />
		

	<menuitem id="menu_for_sample_wizard"
        name="My Wizard"
        action="action_for_sample_wizard" 
        parent="coding_intern.menu_for_sample_module"
        sequence="3" />	
</odoo> 
